//size
$w: 100%;
//color
$c1: #c7b299;
$c2: #998675;
//fonts
$M: 'Montserrat';
$R: 'Raleway';

//import
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,100&family=Raleway:wght@400;500;600;700;800&display=swap');

//mixin
@mixin txt ($color, $line-height, $font-size, $font-weight, $font-family) {
    color: $color;
    line-height: $line-height;
    font-size: $font-size;
    font-weight: $font-weight;
    font-family: $font-family, sans-serif;
}

.header {
    width: 100%;
    height: 100vh;
    background-image: url(../img/back_header.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;

    &__arrow-left {
        margin-top: -73px;
        opacity: .5;
        position: absolute;
        top: 50%;
        left: 7.8125%;
    }

    &__arrow-right {
        margin-top: -73px;
        opacity: .5;
        position: absolute;
        top: 50%;
        right: 7.8125%;
    }

    &-header {
        padding: 40px 0 0 0;
        display: flex;
        align-items: center;
        justify-content: center;

        &__logo {
            display: flex;
            align-items: center;
            text-decoration: none;

            &:hover>&-img,
            &:hover>&-text {
                fill: #000;
                color: #000;
            }

            &-img {
                display: block;
                fill: #fff;
            }

            &-text {
                @include txt(#fff, 1.2, 34px, 400, $R);
            }
        }

        &__nav {
            margin: 0 1.9% 0 5%;
            width: 600px;

            &-list {
                padding: 0;
                list-style-type: none;
                display: flex;

                &-item {
                    margin: 0 3.5% 0 0;

                    &-link {
                        @include txt(#fff, 1.2, 14px, 300, $M);
                        text-decoration: none;

                        &:hover {
                            color: $c1;
                        }
                    }
                }
            }
        }

        &__bin {
            display: block;
            margin: 0 28px 0 0;
            background-color: transparent;
            border: none;

            svg {
                fill: #fff;

                &:hover {
                    fill: #000;
                }
            }
        }

        .form-serch {
            &:hover>&__label{
                fill: #000;
            }


            &__label {
                margin: 0 15px 0 0;

                svg {
                    fill: #fff;

                    &:hover {
                        fill: #000;
                    }
                }
            }
        }
    }

    &-main {
        height: 89.5vh;

        * {
            margin: 0;
        }

        &__title {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            &-2 {
                @include txt(#fff, 1.2, 36px, 500, $R);
                margin: 0 0 14px 0;
            }

            &-1 {
                @include txt(#fff, 1.2, 52px, 800, $R);
                margin: 0 0 19px 0;
            }

            &-p {
                width: 557px;
                @include txt(#fff, 24px, 16px, 300, $M);
                margin: 0 0 52px 0;
            }

            &-btn {
                display: block;
                @include txt(#fff, 23px, 14px, 800, $R);
                text-transform: uppercase;
                padding: 21px 39px 21px 37px;
                box-sizing: border-box;
                background-color: $c2;
                border-radius: 3px;
                text-decoration: none;
            }
        }
    }

    &-input__radio {
        position: absolute;
        margin-left: -3%;
        left: 50%;
        bottom: 40px;
        display: flex;
        align-items: center;

        a {
            display: flex;
        }

        #rad {
            width: 11px;
            height: 11px;
            margin: 0 10px 0 0;
            opacity: .5;

            &:checked {
                width: 15px;
                height: 15px;
            }
        }

        .none {
            margin: 0;
        }
    }
}