@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,100&family=Raleway:wght@400;500;600;700;800&display=swap");
.header {
  width: 100%;
  height: 100vh;
  background-image: url(../img/back_header.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.header__arrow-left {
  margin-top: -73px;
  opacity: .5;
  position: absolute;
  top: 50%;
  left: 7.8125%;
}

.header__arrow-right {
  margin-top: -73px;
  opacity: .5;
  position: absolute;
  top: 50%;
  right: 7.8125%;
}

.header-header {
  padding: 40px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.header-header__logo:hover > .header-header__logo-img,
.header-header__logo:hover > .header-header__logo-text {
  fill: #000;
  color: #000;
}

.header-header__logo-img {
  display: block;
  fill: #fff;
}

.header-header__logo-text {
  color: #fff;
  line-height: 1.2;
  font-size: 34px;
  font-weight: 400;
  font-family: "Raleway", sans-serif;
}

.header-header__nav {
  margin: 0 1.9% 0 5%;
  width: 600px;
}

.header-header__nav-list {
  padding: 0;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-header__nav-list-item {
  margin: 0 3.5% 0 0;
}

.header-header__nav-list-item-link {
  color: #fff;
  line-height: 1.2;
  font-size: 14px;
  font-weight: 300;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
}

.header-header__nav-list-item-link:hover {
  color: #c7b299;
}

.header-header__bin {
  display: block;
  margin: 0 28px 0 0;
  background-color: transparent;
  border: none;
}

.header-header__bin svg {
  fill: #fff;
}

.header-header__bin svg:hover {
  fill: #000;
}

.header-header .form-serch:hover > .header-header .form-serch__label {
  fill: #000;
}

.header-header .form-serch__label {
  margin: 0 15px 0 0;
}

.header-header .form-serch__label svg {
  fill: #fff;
}

.header-header .form-serch__label svg:hover {
  fill: #000;
}

.header-main {
  height: 89.5vh;
}

.header-main * {
  margin: 0;
}

.header-main__title {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-main__title-2 {
  color: #fff;
  line-height: 1.2;
  font-size: 36px;
  font-weight: 500;
  font-family: "Raleway", sans-serif;
  margin: 0 0 14px 0;
}

.header-main__title-1 {
  color: #fff;
  line-height: 1.2;
  font-size: 52px;
  font-weight: 800;
  font-family: "Raleway", sans-serif;
  margin: 0 0 19px 0;
}

.header-main__title-p {
  width: 557px;
  color: #fff;
  line-height: 24px;
  font-size: 16px;
  font-weight: 300;
  font-family: "Montserrat", sans-serif;
  margin: 0 0 52px 0;
}

.header-main__title-btn {
  display: block;
  color: #fff;
  line-height: 23px;
  font-size: 14px;
  font-weight: 800;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  padding: 21px 39px 21px 37px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #998675;
  border-radius: 3px;
  text-decoration: none;
}

.header-input__radio {
  position: absolute;
  margin-left: -3%;
  left: 50%;
  bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-input__radio a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-input__radio #rad {
  width: 11px;
  height: 11px;
  margin: 0 10px 0 0;
  opacity: .5;
}

.header-input__radio #rad:checked {
  width: 15px;
  height: 15px;
}

.header-input__radio .none {
  margin: 0;
}
