//size
$w: 100%;
//color
$c1: #c7b299;
$c2: #998675;

//import
@import 'fonts.scss';

//mixin
@mixin txt ($color, $line-height, $font-size, $font-family) {
    color: $color;
    line-height: $line-height;
    font-size: $font-size;
    font-family: $font-family, sans-serif;
}

.header {
    width: 100%;
    height: 100vh;
    background-image: url(../img/back_header.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;

    &__arrow-left {
        margin-top: -73px;
        opacity: .5;
        position: absolute;
        top: 50%;
        left: 7.8125%;
    }

    &__arrow-right {
        margin-top: -73px;
        opacity: .5;
        position: absolute;
        top: 50%;
        right: 7.8125%;
    }

    &-header {
        padding: 40px 0 0 0;
        display: flex;
        align-items: center;
        justify-content: center;

        &__logo {
            display: flex;
            align-items: center;
            text-decoration: none;

            &:hover>&-img,
            &:hover>&-text {
                fill: #000;
                color: #000;
            }

            &-img {
                display: block;
                fill: #fff;
            }

            &-text {
                @include txt(#fff, 1.2, 34px, R400);
            }
        }

        &__nav {
            margin: 0 1.9% 0 5%;
            width: 600px;

            &-list {
                padding: 0;
                list-style-type: none;
                display: flex;

                &-item {
                    margin: 0 3.5% 0 0;

                    &-link {
                        @include txt(#fff, 1.2, 14px, M300);
                        text-decoration: none;

                        &:hover {
                            color: $c1;
                        }
                    }
                }
            }
        }

        &__bin {
            display: block;
            margin: 0 28px 0 0;
            background-color: transparent;
            border: none;

            svg {
                fill: #fff;

                &:hover {
                    fill: #000;
                }
            }
        }

        .form-serch {
            &:hover>&__label {
                fill: #000;
            }


            &__label {
                margin: 0 15px 0 0;

                svg {
                    fill: #fff;

                    &:hover {
                        fill: #000;
                    }
                }
            }
        }
    }

    &-main {
        height: 89.5vh;

        * {
            margin: 0;
        }

        &__title {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            &-2 {
                @include txt(#fff, 1.2, 36px, R500);
                margin: 0 0 14px 0;
            }

            &-1 {
                @include txt(#fff, 1.2, 52px, R800);
                margin: 0 0 19px 0;
            }

            &-p {
                width: 557px;
                @include txt(#fff, 24px, 16px, M300);
                margin: 0 0 52px 0;
            }

            &-btn {
                display: block;
                @include txt(#fff, 23px, 14px, R800);
                text-transform: uppercase;
                padding: 21px 39px 21px 37px;
                box-sizing: border-box;
                background-color: $c2;
                border-radius: 3px;
                text-decoration: none;

                &:hover{
                    background-color: #ffffff;
                    color: $c2;
                    padding: 20px 38px 20px 36px;
                    border: 1px solid $c2;
                }

                &:active{
                    padding: 21px 39px 21px 37px;
                    box-sizing: border-box;
                    background-color: $c2;
                }
            }
        }
    }

    &-input__radio {
        position: absolute;
        margin-left: -3%;
        left: 50%;
        bottom: 40px;
        display: flex;
        align-items: center;

        label {
            display: flex;
            align-items: center;
            width: 11px;
            height: 11px;
            margin: 0 10px 0 0;
            opacity: .5;

            &::before {
                content: url(../img/circle_picked.png);
            }
        }

        .switcher {
            display: none;
        }

        #rad1:checked~label[for="rad1"],
        #rad2:checked~label[for="rad2"],
        #rad3:checked~label[for="rad3"],
        #rad4:checked~label[for="rad4"],
        #rad5:checked~label[for="rad5"] {
            width: 15px;
            height: 15px;
            display: flex;
            align-items: center;

            &::before {
                content: url(../img/circle_no_picked.png)
            }
        }

    }
}

.main {
    .list {
        display: flex;
        justify-content: center;
        padding: 80px 0;

        &-block {
            width: 270px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            &-logo {
                margin: 0 0 29px 0;
                fill: #555;
            }

            &-title {
                width: 100%;
                @include txt(#555, 1.2, 22px, R600);
                text-align: center;
                margin: 0 0 19px 0;
            }

            &-text {
                @include txt(#8c8c8c, 24px, 14px, M300);
                width: 100%;
                text-align: center;

                &::after {
                    content: '';
                    display: block;
                    margin: 30px auto 0;
                    width: 70px;
                    height: 3px;
                    background-color: #f1eee9;
                }
            }

            &:hover .list-block-logo {
                fill: #c7b299;
            }

            &:hover .list-block-title {
                color: #c7b299;
            }

            &:hover .list-block-text::after {
                background-color: #c7b299;
            }
        }

        &-block:not(:last-child) {
            margin: 0 33px 0 0;
        }
    }

    .photos {
        padding: 83px 0 0 0;
        background-color: #fbfaf8;
        display: flex;
        flex-direction: column;
        align-items: center;

        &-title {
            @include txt(#555, 1.2, 30px, R600);
            margin: 0 0 24px 0;
        }

        &-text {
            @include txt(#8c8c8c, 28px, 16px, M300);
            margin: 0 0 40px 0;
            width: 757px;
            text-align: center;
        }

        &-img {
            width: 1230px;
            height: 482px;
            position: relative;

            &-1 {
                margin: 0 0 0 -385px;
                position: absolute;
                bottom: 0;
                left: 50%;
                z-index: 3;
            }

            &-2 {
                position: absolute;
                left: 0;
                bottom: 0;
                z-index: 2;
            }

            &-3 {
                position: absolute;
                right: 0;
                bottom: 0;
                z-index: 1;
            }
        }
    }

    .advert {
        width: 100%;
        min-height: 150px;
        background: linear-gradient(90.0deg, #211b19 0%, #4e3427 100%);
        display: flex;
        align-items: center;
        justify-content: space-around;

        &-text {
            width: 530px;
            @include txt(#fff, 1.2, 28px, R400);

            .color {
                color: #c7b299;
            }

            .opacity {
                @include txt(#615855, 1.2, 18px, M300);
            }
        }

        &-btn {
            @include txt(#fff, 23px, 14px, R800);
            text-transform: uppercase;
            text-decoration: none;
            background-color: #998675;
            border-radius: 3px;
            padding: 19px 29px 20px 28px;

            &:hover{
                background-color: #ffffff;
                color: $c2;
                padding: 18px 28px 19px 27px;
                border: 1px solid $c2;
            }
        }
    }

    .project {
        padding: 80px 0;
        display: flex;
        flex-direction: column;
        align-items: center;

        &-title {
            @include txt(#555, 1.2, 30px, R600);
            margin: 0 0 24px 0;
            text-transform: capitalize;
        }

        &-text {
            @include txt(#8c8c8c, 28px, 16px, M300);
            width: 758px;
            text-align: center;
            margin: 0 0 40px 0;
        }

        &-btn {
            margin: 0 0 51px 0;

            a {
                @include txt(#8c8c8c, 21px, 14px, M300);
                text-decoration: none;
                background-color: #ffffff;
                box-sizing: border-box;
                padding: 10px 19px 8px 18px;
                border: 1px solid #ebebeb;
                border-radius: 3px;

                &:hover {
                    text-decoration: underline;
                }

                &:active {
                    color: #fff;
                    background-color: #998675;
                }
            }

            .active {
                color: #fff;
                background-color: #998675;
            }
        }

        &-blocks {
            width: 1170px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            .block {
                width: 370px;
                margin: 0 30px 30px 0;


                div {
                    width: 370px;
                    height: 237px;
                    position: relative;

                    svg {
                        display: none;
                    }
                }

                .img4 {
                    background: url(../img/img4.png);
                }

                .img5 {
                    background: url(../img/img5.png);
                }

                .img6 {
                    background: url(../img/img6.png);
                }

                .img7 {
                    background: url(../img/img7.png);
                }

                .img8 {
                    background: url(../img/img8.png);
                }

                .img9 {
                    background: url(../img/img9.png);
                }

                .text {
                    background-color: #fbfaf8;
                    width: 230px;
                    @include txt(#c7b299, 1.2, 20px, R500);
                    padding: 30px 113px 27px 28px;
                    margin: 0;
                    position: relative;

                    .color {
                        @include txt(#d1d1d1, 20px, 14px, M300);
                    }

                    &::before {
                        content: '';
                        display: block;
                        border: 30px solid transparent;
                        border-bottom: 10px solid #fbfaf8;
                        position: absolute;
                        left: 19px;
                        bottom: 105px;
                    }
                }
            }

            .right {
                margin-right: 0;
            }

            .down {
                margin-bottom: 0;
            }

            .block:hover>div {
                .loopa {
                    display: block;
                    position: absolute;
                    top: 106px;
                    left: 198px;
                    fill: #fff;

                    &:hover {
                        fill: #c7b299;
                    }
                }

                .ssylka {
                    display: block;
                    position: absolute;
                    top: 106px;
                    left: 144px;
                    fill: #fff;

                    &:hover {
                        fill: #c7b299;
                    }
                }
            }

            .block:hover .img4 {
                background: linear-gradient(rgba(17, 17, 17, 0.7)), url(../img/img4.png);
            }

            .block:hover .img5 {
                background: linear-gradient(rgba(17, 17, 17, 0.7)), url(../img/img5.png);
            }

            .block:hover .img6 {
                background: linear-gradient(rgba(17, 17, 17, 0.7)), url(../img/img6.png);
            }

            .block:hover .img7 {
                background: linear-gradient(rgba(17, 17, 17, 0.7)), url(../img/img7.png);
            }

            .block:hover .img8 {
                background: linear-gradient(rgba(17, 17, 17, 0.7)), url(../img/img8.png);
            }

            .block:hover .img9 {
                background: linear-gradient(rgba(17, 17, 17, 0.7)), url(../img/img9.png);
            }

            .block:hover>.text {
                background-color: #362f2d;
                color: #fff;

                .color {
                    color: #c7b299;
                }

                &::before {
                    border-bottom: 10px solid #362f2d;
                }
            }
        }

        &-button {
            display: block;
            margin: 30px 0 0 0;
            width: 81px;
            @include txt(#fff, 23px, 14px, R800);
            text-transform: uppercase;
            text-decoration: none;
            padding: 19px 45px 20px 44px;
            background-color: #998675;
            border-radius: 3px;

            &:hover{
                background-color: #ffffff;
                color: $c2;
                padding: 18px 44px 19px 43px;
                border: 1px solid $c2;
            }
        }
    }

    .video {
        margin: 0 auto 79px;
        overflow: hidden;
        width: $w;
        min-height: 100vh;
        position: relative;

        &-img {
            position: absolute;
            top: 0;
            left: 0;
            min-width: 100%;
        }

        .content {
            width: 570px;
            margin-top: -164.5px;
            margin-left: -285px;
            display: flex;
            flex-direction: column;
            align-items: center;
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 1;

            a {
                margin: 0 0 44px 0;

                .content-btn {
                    background-color: #000000;
                    opacity: .5;
                    padding: 15px;
                    border-radius: 50%;
                }
            }

            &-title {
                @include txt(#fff, 1.2, 30px, R500);
                margin: 0 0 29px 0;
            }

            &-text {
                width: 550px;
                @include txt(#fff, 28px, 16px, M300);
                text-align: center;
                margin: 0 0 40px 0;
            }

            &-time {
                @include txt(#c7b299, 24px, 14px, M400);
            }
        }
    }

    .device {
        display: flex;
        justify-content: center;
        align-items: center;

        &-img {
            margin: 0 29px 0 0;
        }

        &-content {
            width: 660px;

            &-title {
                @include txt(#555, 1.2, 30px, R600);
                margin: 0 0 40px 0;
            }

            &-text {
                @include txt(#8c8c8c, 28px, 16px, M300);
                margin: 0 0 40px 0;
            }

            &-list {
                list-style-type: none;

                &-item {
                    @include txt(#8c8c8c, 32px, 16px, M300);
                    display: flex;
                    align-items: center;

                    &::before {
                        content: url(../img/arrow.png);
                        margin: 0 29px 0 0;
                    }
                }
            }
        }
    }

    .statistic {
        min-height: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: linear-gradient(90.0deg, #211b19 0%, #4e3427 100%);

        &-block {
            min-width: 77px;
            max-width: 140px;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0 73px 0 0;

            &-logo {
                fill: #c7b299;
                margin: 0 0 30px 0;
            }

            &-number {
                @include txt(#fff, 36px, 48px, M200);
                margin: 0 0 21px 0;
            }

            &-text {
                @include txt(#c7b299, 20px, 14px, M300);
                text-transform: uppercase;
            }

            &:last-child {
                margin: 0;
            }
        }
    }

    .posts {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 80px 0;

        &-title {
            @include txt(#555, 1.2, 30px, R600);
            margin: 0 0 30px 0;
        }

        &-text {
            width: 756px;
            @include txt(#8c8c8c, 28px, 16px, M300);
            margin: 0 0 40px 0;
            text-align: center;
        }

        &-blocks {
            display: flex;
            margin: 0 0 40px 0;

            &-block {
                width: 370px;
                border: 1px solid #f8f8f8;
                position: relative;

                .calendar {
                    position: absolute;
                    top: 20px;
                    left: 20px;

                    .day {
                        display: block;
                        width: 30px;
                        @include txt(#fff, 20px, 24px, M300);
                        background-color: #363636;
                        padding: 9px 10px 9px 11px;
                        border-radius: 3px 3px 0px 0px;
                    }

                    .month {
                        @include txt(#fff, 20px, 12px, R400);
                        padding: 7px 13px 6px 14px;
                        background-color: #252525;
                        border-radius: 0px 0px 3px 3px;
                    }
                }

                .selects {
                    margin-left: -49.5px;
                    position: absolute;
                    top: 185px;
                    left: 50%;
                    display: flex;
                    align-items: center;

                    &-link {
                        margin: 0 10px 0 0;

                        &::before {
                            content: url(../img/circle_picked.png);
                            opacity: .3;
                        }

                        &:last-child {
                            margin: 0;
                        }
                    }

                    .active {
                        &::before {
                            content: url(../img/circle_no_picked.png);
                            opacity: .3;
                        }
                    }
                }

                .img10 {
                    margin: 0;
                }

                &-text {
                    margin: -5px 0 0 0;
                    width: 300px;
                    padding: 30px 41px 33px 29px;

                    .title {
                        @include txt(#555, 1.2, 20px, R500);
                        display: block;
                        margin: 0 0 19px 0;
                    }

                    .text {
                        @include txt(#8c8c8c, 22px, 14px, M300);
                        display: block;
                        margin: 0 0 27px 0;
                    }

                    .link {
                        @include txt(#c7b299, 20px, 14px, M300);
                        text-decoration: none;
                        width: 100px;
                        display: flex;
                        align-items: center;

                        &::after {
                            content: '';
                            border: 5px solid transparent;
                            border-left: 8px solid #c7b299;
                            margin: 0 0 0 9px;
                        }
                    }
                }

                &:hover>.img10 {
                    filter: brightness(70%);
                }

                &:hover>.calendar>.day {
                    background-color: #c7b299;
                }

                &:hover>.calendar>.month {
                    background-color: #a48d72;
                }

                &:hover>.posts-blocks-block-text {
                    background-color: #362f2d;
                }

                &:hover>.posts-blocks-block-text>.title {
                    color: #c7b299;
                }

                &:hover>.posts-blocks-block-text>.text {
                    color: #fff;
                }

                &:nth-child(2) {
                    margin: 0 30px;
                }
            }
        }

        &-arrows {
            display: flex;
            justify-content: center;
            align-items: center;

            &-left {
                fill: #d1d1d1;
                margin: 0 8px 0 0;
            }

            &-right {
                fill: #c7b299;
            }
        }
    }

    .sponsors {
        width: $w;
        min-height: 489px;
        background: url(../img/back_sponsors.png) no-repeat;
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: center;
        justify-content: center;

        .logo {
            margin: 0 90px 0 0;

            &:last-child {
                margin: 0;
            }
        }
    }
}

.footer {
    margin: -16px 0 0 0;

    .info {
        background-color: #191919;
        min-height: 508px;
        display: flex;
        align-items: center;
        justify-content: center;

        &-list {
            display: flex;
            list-style-type: none;

            &-item{
                display: flex;
                flex-direction: column;
            }

            .info-item {
                width: 258px;
                margin: 0 41px 0 0;

                &-logo {
                    &__logo {
                        display: flex;
                        align-items: center;
                        text-decoration: none;

                        &:hover>&-img,
                        &:hover>&-text {
                            fill: #000;
                            color: #000;
                        }

                        &-img {
                            display: block;
                            fill: #fff;
                        }

                        &-text {
                            @include txt(#fff, 1.2, 34px, R400);
                        }
                    }
                }

                &-text {
                    @include txt(#555, 24px, 14px, M300);
                    margin: 20px 0 33px 0;
                }

                &-link {
                    @include txt(#d1d1d1, 20px, 14px, M400);
                    text-decoration: none;
                    width: 100px;
                    display: flex;
                    align-items: center;

                    &::after {
                        content: '';
                        border: 5px solid transparent;
                        border-left: 8px solid #d1d1d1;
                        margin: 0 0 0 9px;
                    }
                }
            }

            .posts-item {
                margin: 0 39px 0 0;

                &-title {
                    @include txt(#fff, 1.2, 24px, R700);
                    margin: 0 0 12px 0;
                }

                &-list{
                    list-style-type: none;
                    padding: 0;

                    &-item{
                        display: flex;
                        flex-direction: column;
                        padding: 21px 0;
                        border-bottom: 2px solid #252525;
                        .date{
                            @include txt(#363636, 20px, 12px, M300);
                            margin: 0 0 10px 0;
                        }

                        .text{
                            width: 260px;
                            @include txt(#555, 20px, 14px, M300);
                        }

                        &:nth-child(2n){
                            .date{
                                color: #fff;
                            }

                            .text{
                                color: #c7b299;
                            }
                        }

                        &:last-child{
                            border: none;
                        }
                    }
                }
            }
    
            .twitter-item{
                margin: 0 36px 0 0;
                &-title{
                    @include txt(#fff, 1.2, 24px, R700);
                    margin: 0 0 7px 0;
                }

                &-list{
                    list-style-type: none;
                    padding: 0;
                    &-item{
                        width: 270px;
                        padding: 23px 0;
                        border-bottom: 2px solid #252525;
                        display: flex;
                        flex-direction: column;
                        .text{
                            @include txt(#555, 20px, 14px, M300);
                            margin: 0 0 11px 0;
                            width: 270px;

                            &-link{
                                color: #00bff3;
                                text-decoration: none;
                            }

                            &-link-2{
                                color: #959595;
                                text-decoration: none;
                            }
                        }
                        .time{
                            @include txt(#363636, 20px, 12px, M300);
                        }

                        &:last-child{
                            border: none;
                        }
                    }
                }
            }

            .widget-item{
                &-title{
                    @include txt(#fff, 1.2, 24px, R700);
                    margin: 0 0 26px 0;
                }

                &-photos{
                    width: 270px;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;

                    img:nth-child(1n){
                        margin: 0 0 10px 0;
                    }
                }
            }
        }
    }

    .end{
        min-height: 111px;
        background-color: #111111;
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        .line{
            color: #252525;
        }

        a{
            text-decoration: none;

            &:hover{
                text-decoration: underline;
            }
        }

        &-left{
            @include txt(#555, 20px, 13px, M300);

            .link-1{
                color: #959595;
            }

            .link-2{
                color: #555;
            }

            .link-3{
                color: #c7b299;
            }
        }

        &-right{
            @include txt(#555, 20px, 13px, M300);

            .link{
                color: #959595;
            }
        }
    }
}