@font-face {
  font-family: R400;
  src: url(../fonts/Raleway-Regular.woff2);
}

@font-face {
  font-family: R500;
  src: url(../fonts/Raleway-Medium.woff2);
}

@font-face {
  font-family: R600;
  src: url(../fonts/Raleway-SemiBold.woff2);
}

@font-face {
  font-family: R700;
  src: url(../fonts/Raleway-Bold.woff2);
}

@font-face {
  font-family: R800;
  src: url(../fonts/Raleway-ExtraBold.woff2);
}

@font-face {
  font-family: M300;
  src: url(../fonts/Montserrat-Light.woff2);
}

@font-face {
  font-family: M300I;
  src: url(../fonts/Montserrat-LightItalic.woff2);
}

@font-face {
  font-family: M100;
  src: url(../fonts/Montserrat-Thin.woff2);
}

.header {
  width: 100%;
  height: 100vh;
  background-image: url(../img/back_header.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.header__arrow-left {
  margin-top: -73px;
  opacity: .5;
  position: absolute;
  top: 50%;
  left: 7.8125%;
}

.header__arrow-right {
  margin-top: -73px;
  opacity: .5;
  position: absolute;
  top: 50%;
  right: 7.8125%;
}

.header-header {
  padding: 40px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.header-header__logo:hover > .header-header__logo-img,
.header-header__logo:hover > .header-header__logo-text {
  fill: #000;
  color: #000;
}

.header-header__logo-img {
  display: block;
  fill: #fff;
}

.header-header__logo-text {
  color: #fff;
  line-height: 1.2;
  font-size: 34px;
  font-family: R400, sans-serif;
}

.header-header__nav {
  margin: 0 1.9% 0 5%;
  width: 600px;
}

.header-header__nav-list {
  padding: 0;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-header__nav-list-item {
  margin: 0 3.5% 0 0;
}

.header-header__nav-list-item-link {
  color: #fff;
  line-height: 1.2;
  font-size: 14px;
  font-family: M300, sans-serif;
  text-decoration: none;
}

.header-header__nav-list-item-link:hover {
  color: #c7b299;
}

.header-header__bin {
  display: block;
  margin: 0 28px 0 0;
  background-color: transparent;
  border: none;
}

.header-header__bin svg {
  fill: #fff;
}

.header-header__bin svg:hover {
  fill: #000;
}

.header-header .form-serch:hover > .header-header .form-serch__label {
  fill: #000;
}

.header-header .form-serch__label {
  margin: 0 15px 0 0;
}

.header-header .form-serch__label svg {
  fill: #fff;
}

.header-header .form-serch__label svg:hover {
  fill: #000;
}

.header-main {
  height: 89.5vh;
}

.header-main * {
  margin: 0;
}

.header-main__title {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-main__title-2 {
  color: #fff;
  line-height: 1.2;
  font-size: 36px;
  font-family: R500, sans-serif;
  margin: 0 0 14px 0;
}

.header-main__title-1 {
  color: #fff;
  line-height: 1.2;
  font-size: 52px;
  font-family: R800, sans-serif;
  margin: 0 0 19px 0;
}

.header-main__title-p {
  width: 557px;
  color: #fff;
  line-height: 24px;
  font-size: 16px;
  font-family: M300, sans-serif;
  margin: 0 0 52px 0;
}

.header-main__title-btn {
  display: block;
  color: #fff;
  line-height: 23px;
  font-size: 14px;
  font-family: R800, sans-serif;
  text-transform: uppercase;
  padding: 21px 39px 21px 37px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #998675;
  border-radius: 3px;
  text-decoration: none;
}

.header-input__radio {
  position: absolute;
  margin-left: -3%;
  left: 50%;
  bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-input__radio label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 11px;
  height: 11px;
  margin: 0 10px 0 0;
  opacity: .5;
}

.header-input__radio label::before {
  content: url(../img/circle_picked.png);
}

.header-input__radio .switcher {
  display: none;
}

.header-input__radio #rad1:checked ~ label[for="rad1"],
.header-input__radio #rad2:checked ~ label[for="rad2"],
.header-input__radio #rad3:checked ~ label[for="rad3"],
.header-input__radio #rad4:checked ~ label[for="rad4"],
.header-input__radio #rad5:checked ~ label[for="rad5"] {
  width: 15px;
  height: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-input__radio #rad1:checked ~ label[for="rad1"]::before,
.header-input__radio #rad2:checked ~ label[for="rad2"]::before,
.header-input__radio #rad3:checked ~ label[for="rad3"]::before,
.header-input__radio #rad4:checked ~ label[for="rad4"]::before,
.header-input__radio #rad5:checked ~ label[for="rad5"]::before {
  content: url(../img/circle_no_picked.png);
}

.main .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 80px 0;
}

.main .list-block {
  width: 270px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main .list-block-logo {
  margin: 0 0 29px 0;
  fill: #555;
}

.main .list-block-title {
  width: 100%;
  color: #555;
  line-height: 1.2;
  font-size: 22px;
  font-family: R600, sans-serif;
  text-align: center;
  margin: 0 0 19px 0;
}

.main .list-block-text {
  color: #8c8c8c;
  line-height: 24px;
  font-size: 14px;
  font-family: M300, sans-serif;
  width: 100%;
  text-align: center;
}

.main .list-block-text::after {
  content: '';
  display: block;
  margin: 30px auto 0;
  width: 70px;
  height: 3px;
  background-color: #f1eee9;
}

.main .list-block:hover .list-block-logo {
  fill: #c7b299;
}

.main .list-block:hover .list-block-title {
  color: #c7b299;
}

.main .list-block:hover .list-block-text::after {
  background-color: #c7b299;
}

.main .list-block:not(:last-child) {
  margin: 0 33px 0 0;
}

.main .photos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .photos-title {
  color: #555;
  line-height: 1.2;
  font-size: 30px;
  font-family: R600, sans-serif;
  margin: 0 0 24px 0;
}

.main .photos-text {
  color: #8c8c8c;
  line-height: 28px;
  font-size: 16px;
  font-family: M300, sans-serif;
  margin: 0 0 40px 0;
  width: 757px;
  text-align: center;
}

.main .photos-img {
  width: 1230px;
  height: 482px;
  position: relative;
}

.main .photos-img-1 {
  margin: 0 0 0 -385px;
  position: absolute;
  bottom: 0;
  left: 50%;
  z-index: -1;
}

.main .photos-img-2 {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -2;
}

.main .photos-img-3 {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -2;
}
